@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Source+Sans+Pro:wght@600&display=swap');

{
    box-sizing: border-box;
}

h1 {
    font-family: 'Source Sans Pro','Helvetica', 'Arial', sans-serif;
    font-size: 2.5rem;
    margin: 1rem 0;
    color: black;
}

.jumbotron {
	padding: 2rem;
	background-color: #f7edd2;
}

.btn {
    background-color: #fa6046 !important;
    border-radius: 2rem;
    border-style: none;
    margin-left: 9rem;
    font-size: 0.8rem;
    padding: 0.8rem;
}

.logo {
    width: 100%
}

h2 {
    font-family: 'Source Sans Pro','Helvetica', 'Arial', sans-serif;
    margin-top: 4rem;
    margin-bottom: 4rem;
    text-align: center;
    line-height: 2rem;
    color: black;
    font-size: 2.5rem;
}

.pic {
	width: 100%;
}

.info {
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    color: #000000;
    text-align: left;
}

footer {
    background-color: #eae9e8;
    color: #000000;
}

footer .box {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
    padding: 1rem;
    text-align: center;
}

.footer-note {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.contact {
    margin-bottom: 2rem;
}

.social-media a {
    text-decoration: none;
    color: #000000;
    font-size: 1rem;
    line-height: 2rem;
    font-family: 'Raleway', sans-serif;
}

@media (min-width: 36rem) {
    
footer .box {
    margin: auto;
}
    
  
    
 h1 {
    font-family: 'Source Sans Pro','Helvetica', 'Arial', sans-serif;
    font-size: 4rem;
    margin: 1rem 0;
    color: black;
    text-align: center;
    font-style: bold;
}



.jumbotron {
	padding: 2rem;
	background-color: #f7edd2;
}

.navbar-img {
    width: 8%;
    margin: 0.6rem 1.5rem 1rem 1rem;
}

.logo {
	width: 100%;
}
    
.jumbotron p {
    padding: 2rem;    
}

.btn {
    background-color: #fa6046 !important;
    border-radius: 2rem;
    border-style: none;
    margin-left: 1rem;
    font-size: 1rem;
    padding: 1rem;
    width: 9rem;
}

footer {
    background-color: #efefef;
}

.container {
    margin-top: 2rem;
}

h2 {
    font-family: 'Source Sans Pro','Helvetica', 'Arial', sans-serif;
    margin-top: 4rem;
    margin-bottom: 4rem;
    text-align: center;
    line-height: 2rem;
    color: black;
    font-size: 2.5rem;
}
    

p {
    font-size: 1rem;
    margin: 0 0 1.666rem 0;
    line-height: 2rem;
    font-family: 'Raleway', sans-serif;
} 
    
.footer-note {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     padding-top: 2rem;
     padding-bottom: 2rem;
}

.social-media {
     text-align: left;   
}
    
.contact {
     text-align: left;   
}

.pic {
	width: 100%;
}
    
.social-media a {
    text-decoration: none;
    color: #000000;
    font-size: 1rem; 
}
  
    
    
    
    
/*    closing bracket */
}